@font-face {
    font-family: 'EB Garamond';
    src: url('../fonts/EB_Garamond/EB_Garamond.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Caveat';
    src: url('../fonts/Caveat/Caveat.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/Karla/Karla.ttf') format('truetype');
    font-weight: 100 900;
}

:root {
    --light-blue: #eff6ff;
    --soft-blue: #dbeafe;
    --dark-blue: #2C3B4D;
    --deep-blue: #1e3a8a;
    --dark-green: #404936;
    --rich-brown: #523B22;
    --light-cream: #fffcf9;
    --soft-cream: #fcf8f3;
    --warm-cream: #FDF5EC;
    --dark-red: #A94034;
    
    --primary: var(--warm-cream);
    --alternate: var(--rich-brown);
    --font-serif: 'EB Garamond', serif;
    --font-cursive: 'Caveat', cursive;
    --font-sanserif: 'Karla', san-serif;
    background-color: #FDF5EC;
}

html {
    font-size: 20px;
}

body {
    font-family: var(--font-serif);
    text-align: center;
    font-size: 1em;
    margin: 0;
    line-height: 1.5;
    padding: 0;
    box-sizing: border-box; 
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

main {
    font-size: 1em;
    color: var(--alternate);
    font-family: var(--font-serif);
    margin: 0 20px;
}

h1 {
    color: var(--dark-red);
    font-family: var(--font-serif);
    font-size: 32px;
    font-weight: 100;
    line-height: 1;
    margin-block-start: var(--rhythm);
    padding-top: 50%;
    padding-left: 20px
}

h2 {
    color: #A94034;
    font-family: var(--font-cursive);
    font-size: 48px;
    font-weight: 200;
    line-height: 1;
    text-align: center;
}

h3 {
    color: #2C3B4D;
    font-size: 28px;
    font-style: italic;
    font-weight: 500;
    margin: auto;
}

.inline-header {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
}

.inline-header h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
}

.inline-header h2 {
    margin: 0;
    font-size: 5rem;
    font-weight: 100;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 500;
    width: 100%;
    box-sizing: border-box;
    background-color: #FDF5EC;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    overflow-x: hidden;
}

.navbar ul {
    color: #2C3B4D;
    display: flex;
    justify-content: center;
    font-family: var(--font-serif);
    font-size: 18px;
    letter-spacing: 0.16px;
    list-style: none;
    margin: 0 auto;
    padding: 10px 10px;
    text-align: center;
    line-height: normal;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: #2C3B4D;
    padding: 5px 10px;
    display: block;
    font-size: 1em;
    font-weight: 500;
}

.navbar a:hover {
    color: #A94034;
}

.hero {
    text-align: center;
}

.hero-content h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: left;
}

.hero-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: left;
}

.hero-content .highlight {
    font-weight: bold;
    font-style: italic;
}

.hero-content p {
    font-size: 1.2rem;
}

.hero-content .small-text {
    font-size: 1rem;
    color: #1e3a8a;
    margin-top: 20px;
    font-style: italic;
}

p {
    font-size: 20px;
    margin: 1em;
    text-align:justify;
}

img {
    height: auto;
    max-width: 100%;
}

.wrapper, .container {
    margin: 0 auto;
    max-width: 100%;
}


ul {
    font-size: 1rem;
    margin: 2em;
    text-align: left;
}

section.work-item {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
    padding: 1em;
}

section.work-item img {
    max-width: 600px;
    height: auto;
    position: relative;
    width: 50%;
    max-width: 500px;
    margin: auto;
    overflow: hidden;
    border-radius: 8px;
}

section.introduction {
    font-size: 1rem;
    text-align: center;
}

.introduction p {
    font-size: 20px;
    margin: 1em;
    text-align: center;
}

.about {
    text-align: center;
    padding: 2em;
}

.profile-image {
    width: 50%;
    height: auto;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
    padding: 5px;
    width: 150px;
}

.contact-details p {
    font-size: 1rem; 
    margin: 10px 0;
    padding: 5px 0;
    text-align: center;
}

.contact-details a {
    color: var(--dark-blue);
    text-decoration: none;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: auto;
    overflow: hidden;
    border-radius: 8px;
}

img {
    border-radius: 8px;
    display: block;
    width: 75%;
  }