@font-face {
    font-family: 'EB Garamond';
    src: url('../css/fonts/EB_Garamond/EBGaramond.ttf') format('truetype');
}
@font-face {
    font-family: 'Caveat';
    src: url('../css/fonts/Caveat/Caveat.ttf') format('truetype');
}
@font-face {
    font-family: 'Karla';
    src: url('../css/fonts/Karla/Karla.ttf') format('truetype');
    font-weight: 100 900;
}


:root {
    --light-blue: #eff6ff;
    --soft-blue: #dbeafe;
    --dark-blue: #2C3B4D;
    --deep-blue: #1e3a8a;
    --dark-green: #404936;
    --rich-brown: #523B22;
    --light-cream: #fffcf9;
    --soft-cream: #fcf8f3;
    --warm-cream: #FDF5EC;
    --dark-red: #A94034;
    
    --primary: var(--warm-cream);
    --alternate: var(--rich-brown);
    --font-serif: 'EB Garamond', serif;
    --font-cursive: 'Caveat', cursive;
    --font-sanserif: 'Karla', san-serif;
    background-color: #FDF5EC;
}


/* ------------------------------
   Global Styles
------------------------------ */
html {
    font-size: 18px;
    font-family: 'EB Garamond', serif;
}

body {
    font-family: var(--font-serif);
    text-align: center;
    font-size: 1em;
    margin: 0;
    padding: 0;
    line-height: 1.3;
    box-sizing: border-box;
    overflow-x: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    border-radius: 8px;
    display: block;
    width: 75%;
    height: auto;
    max-width: 100%;
  }

p {
    font-size: 18px;
    margin: 20px;
    text-align:inherit;
}

ul {
    font-size: 1rem;
    margin: 1em;
    text-align: left;
}

/* ------------------------------
   Main Content Styles
------------------------------ */
main {
    font-size: 1em;
    color: var(--alternate);
    font-family: var(--font-serif);
    margin: 0 20px;
}

/* ------------------------------
   Header Styles
------------------------------ */

h1 {
    color: var(--dark-red);
    font-family: var(--font-serif);
    font-size: 32px;
    font-weight: 100;
    line-height: 40px;
    margin-block-start: var(--rhythm);
    padding-top: 50%;
    padding-left: 20px;
}

h2 {
    color: #A94034;
    font-family: var(--font-cursive);
    font-size: 48px;
    font-weight: 200;
    line-height: 40px;
    text-align: center;
}

h3 {
    color:#523B22;
    font-size: 28px;
    font-weight: 500;
    margin: auto;
}

h4 {
    color:#523B22;
    font-size: 20px;
    font-weight: 300;
    margin: auto;
    text-align: center;
}

/* ------------------------------
   Inline Header Styles
------------------------------ */
.inline-header {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
}

.inline-header h1 {
    color:#A94034;
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
}

.inline-header h2 {
    color:#A94034;
    margin: 0;
    font-size: 5rem;
    font-weight: 100;
}


/* ------------------------------
   Navbar Styles
------------------------------ */
/* Navbar Styles */
header {
    padding: 1rem;
    position: relative;
}

header label {
    cursor: pointer;
    height: 1.25rem;
    position: fixed;
    right: 1rem;
    top: 1rem;
    width: 1.625rem;
    z-index: 1001;
}

header label span {
    background-color: #404936;
    border-radius: 2px;
    display: block;
    height: 3px;
    position: absolute;
    width: 100%;
    transform-origin: left;
}

header label span:nth-child(1) {
    top: 0;
}

header label span:nth-child(2) {
    top: 0.5rem;
}

header label span:nth-child(3) {
    top: 1rem;
}

/* Navigation Styles */
nav {
    background: #404936;
    height: 100vh;
    width: 15rem;
    position: fixed;
    right: -300px;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 2rem;
}

nav ul li {
    margin-bottom: 1rem;
}

nav ul li a {
    color: #FDF5EC;
    text-decoration: none;
    font-size: 25px;
    margin: auto;
}

/* Show nav when checkbox is checked */
.nav-toggle:checked ~ nav {
    right: 0;
}

.nav-toggle:checked ~ .nav-toggle-label span:nth-child(1) {
    transform: rotate(45deg);
    top: -2px; /* Fix */
    background-color: #FDF5EC;
}

.nav-toggle:checked ~ .nav-toggle-label span:nth-child(2) {
    opacity: 0;
}

.nav-toggle:checked ~ .nav-toggle-label span:nth-child(3) {
    transform: rotate(-45deg);
    background-color: #FDF5EC;
}

  
  .go-back-button {
    position: fixed;
    top: 1rem;
    left: 1rem;
    padding: 10px 20px;
    color:#523B22;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .go-back-button:hover {
    color:#A94034; /* Change background on hover */
  }


/* ------------------------------
   Hero Section Styles
------------------------------ */

.hero-content h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.hero-content h2 {
    font-size: 2.5rem;
}

.hero-content .highlight {
    font-weight: bold;
    font-style: italic;
}

.hero-content p {
    font-size: 1.2rem;
    text-align: left;
    margin-top: auto;
}

.hero-content .small-text {
    font-size: 1rem;
    color:#2C3B4D;
    margin-top: 20px;
    font-style: italic;
}

.hero {
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
}


.doodle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: auto;
    z-index: 1;
}


.hero-image {
    position: absolute;
    top: 50%; /* Starting point */
    left: 50%;
    transform: translate(-50%, -120%); /* Move up by 10% more */
    width: 100%;
    height: auto;
}



section.introduction {
    font-size: 1rem;
    text-align: center;
}

.introduction {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: 'EB Garamond', serif;
}

.second_introduction {
    padding-bottom: 20px;
}

.second_introduction h2 {
    font-size: 2rem;
    color: #A94034;
    margin-bottom: 10px;
}

.second_introduction .small-text {
    font-size: 1rem;
    color: #1e3a8a;
    margin-top: 20px;
    font-style: italic;
}

.introduction p {
    font-size: 18px;
    color: #2C3B4D;
    line-height: 1.4;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'EB Garamond', serif;
}

.introduction .small-text {
    font-size: 1rem;
    color: #1e3a8a;
    margin-top: 10px;
    font-style: italic;
    line-height: 1.4;
    font-family: 'EB Garamond', serif;

}

.about {
    text-align: center;
    padding: 2em;
}

.profile-image {
    width: 80%;
    height: auto;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
    padding: 5px;
}
  

.gallery-link {
    text-decoration: none;
}

.gallery-link:hover {
    opacity: 0.8;
}

.gallery-item .text {
    padding: 0 20px; /* Adds space around the text container */
    text-align: center; /* Centers the text in the container */
}

.gallery-item .small-text p {
    color: #523B22;
    margin: 0.5rem auto; /* Centers the paragraph within the container */
    max-width: 600px; /* Limits the paragraph width for better readability */
    text-align: center;
    text-decoration: none;
    line-height: 1.5; /* Improves readability */

}


a .text .small-text {
    font-size: 1rem;
    color:#2C3B4D;
    margin-top: 20px;
    font-style: italic;
    text-decoration: none;

  }

img {
    display: inline-block; /* Ensures it respects text alignment */
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
  }

  


  @media (max-width: 780px) {
    .hero-title {
        font-size: 2.5rem;
    }

    .hero-description {
        font-size: 1.2rem;
    }

    .hero-image {
        width: 90%;
    }
}

/* ------------------------------
   Contact Page
------------------------------ */
.contact-details {
    padding: 2em;
}

.contact-details p {
    font-size: 1rem; 
    text-align: center;
    margin: auto;
}

.contact-details a {
    color: var(--dark-blue);
    text-decoration: none;
}


.background-image {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    width: 100%;
}


footer p {
    font-size: 18px;
    margin: 20px 30px;
    text-align: left;
}