@font-face {
    font-family: 'EB Garamond';
    src: url('../fonts/EB_Garamond') format('truetype');
    font-weight: 100 900;
}
@font-face {
    font-family: 'Caveat';
    src: url('../fonts/Caveat') format('truetype');
    font-weight: 100 900;
}
@font-face {
    font-family: 'Karla';
    src: url('../fonts/Karla') format('truetype');
    font-weight: 100 900;
}

:root {
    --light-blue: #eff6ff;
    --soft-blue: #dbeafe;
    --dark-blue: #2C3B4D;
    --deep-blue: #1e3a8a;
    --dark-green: #404936;
    --rich-brown: #523B22;
    --light-cream: #fffcf9;
    --soft-cream: #fcf8f3;
    --warm-cream: #FDF5EC;
    --dark-red: #A94034;
    
    --primary: var(--warm-cream);
    --alternate: var(--rich-brown);
    --font-serif: 'EB Garamond', serif;
    --font-cursive: 'Caveat', cursive;
    --font-sanserif: 'Karla', san-serif;
    background-color: #fffcf9;
}

main {
    font-size: 2dvh;
    color: var(--alternate);
    font-family: var(--font-serif);
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    color: var(--dark-red);
    font-family: var(--font-serif);
    font-size: 6vh;
    font-weight: 100;
    letter-spacing: -2px;
    line-height: 1;
    margin-block-start: var(--rhythm);
    padding-top: 50%;
    text-align: center;
}

h2 {
    color:#A94034;
    font-family: var(--font-cursive);
    font-size: 6vh;
    font-weight: 400;
    line-height: 1;
    margin-block-start: var(--rhythm);
    text-align: center;
}

h3 {
    color:#2C3B4D;
    font-size: 2.5vh;
    font-style: italic;
    font-weight: 500;
    margin-left: 1em;
}

.navbar {
    position: sticky;
    top: 0;
    padding: 10px 20px;
    z-index: 500;
    width: 100%;
    box-shadow: 0 1px 2px -2px gray;
    background-color:#fffcf9;
}

.navbar ul{
    color:#2C3B4D;
    display: flex;
    flex-direction: row;
    font-family: var(--font-serif);
    font-size: 1.5em;
    justify-content: center;
    letter-spacing: 0.16px;
    list-style-type: none;
    margin: 1.5em auto;
    max-width: 500px;
    padding: 46px 53px 11px;    
    text-align: center;
}


.navbar li {
    font-size: 30px;
    margin: 0 50px;
    padding: 30px;
    text-align: center;
    padding: auto;
}

.navbar a {
    text-decoration: none;
    color:#2C3B4D;
    padding: 8px 16px;
    display: block;
    font-size: 35px;
}

.navbar li {
    margin: 0;
}

.navbar li a:hover {
    color: #A94034;
}

html {
    font-size: 16px;
}

body {
    font-family: var(--font-serif);
    font-size: 1rem;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

p {
    font-size: 16px;
    margin: 50px;
    text-align:justify;
}

img {
    height: auto;
    max-width: 100%;
}

.wrapper {
    margin: 0 auto;
    max-width: 100%;
}

.container {
    max-width: 2500px;
    margin: 0 auto;
}

.contact-details ul {
    list-style-type: none;
    text-align: center;
}

.contact-details a {
    color: var(--dark-blue);
}

.description {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20, 20;
}

.description p {
    font-size: 2em;
}

ul {
    font-size: 16px;
    margin: 50px;
    text-align: left;
}

section.work-item {
    color: #2C3B4D;
    font-size: 2.5vw;
    font-style: italic;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
    padding: 1em;
}

section.work-item img {
    width: 500%;
    max-width: 600px;
    height: auto;
}

section.introduction {
    font-size: 16px;
    text-align: center;
}

.introduction p {
    font-size: 2em;
    line-height: 1.5;
}

.about {
    text-align: center;
    padding: 2em;
}

.profile-image {
    width: 50%;
    max-width: 600px;
    height: auto;
    border-radius: 50%;
    margin: 1em 0;
}